version: 2.1
orbs:
  samvera: samvera/circleci-orb@1.0
jobs:
  bundle_lint_test:
    parameters:
      ruby_version:
        type: string
      bundler_version:
        type: string
        default: 2.3.10
    executor:
      name: 'samvera/ruby_fcrepo_solr'
      ruby_version: << parameters.ruby_version >>
      solr_version: 7-slim
    steps:
      - samvera/cached_checkout
      - run:
          name: Check for a branch named 'master'
          command: |
            git fetch --all --quiet --prune --prune-tags
            if [[ -n "$(git branch --all --list master */master)" ]]; then
              echo "A branch named 'master' was found. Please remove it."
              echo "$(git branch --all --list master */master)"
            fi
            [[ -z "$(git branch --all --list master */master)" ]]
      - run:
          name: Install dependencies
          command: |
            wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo apt-get update
            sudo apt-get install ghostscript libpng-dev imagemagick graphicsmagick ffmpeg libreoffice dcraw
      - restore_cache:
          name: Restore Kakadu Cache
          keys:
            - kakadu-cache-v1
      - run:
          name: Download Kakadu
          command: |
            if [ ! -f ~/downloads/kakadu.zip ]; then
              mkdir -p ~/downloads
              wget http://kakadusoftware.com/wp-content/uploads/KDU841_Demo_Apps_for_Linux-x86-64_231117.zip -O ~/downloads/kakadu.zip
            fi
      - save_cache:
          name: Save Kakadu Cache
          key: kakadu-cache-v1
          paths:
            - ~/downloads/kakadu.zip
      - run:
          name: Install Kakadu
          command: |
            unzip ~/downloads/kakadu.zip
            mv KDU841_Demo_Apps_for_Linux-x86-64_231117 kakadu
            sudo cp kakadu/*.so /usr/lib
            sudo cp kakadu/* /usr/bin
            kdu_compress -version
      - run:
          name: Modify ImageMagick security policy
          command: sudo sed -i 's/policy domain="coder" rights="none" pattern="PDF"/policy domain="coder" rights="read|write" pattern="PDF"/' /etc/ImageMagick-6/policy.xml
      - run:
          name: Modify ImageMagick delegate for raw files
          command: sudo sed -i 's/decode="dng:decode" command=".*"\/>$/decode="dng:decode" command="\&quot\;dcraw\&quot\; -c -q 3 -H 5 -w \&quot\;\%i\&quot\; \| \&quot\;convert\&quot\; - \&quot\;\%u\.png\&quot\;"\/>/' /etc/ImageMagick-6/delegates.xml

      - samvera/bundle:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          cache_version: "2"

      - samvera/install_solr_core

      - samvera/rubocop

      - samvera/parallel_rspec

workflows:
  ci:
    jobs:
      - bundle_lint_test:
          name: ruby3-2
          ruby_version: 3.2.0
      - bundle_lint_test:
          name: ruby3-1
          ruby_version: 3.1.3
      - bundle_lint_test:
          name: ruby3-0
          ruby_version: 3.0.3
      - bundle_lint_test:
          name: ruby2-7
          ruby_version: 2.7.7

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - bundle_lint_test:
          name: ruby3-2
          ruby_version: 3.2.0
      - bundle_lint_test:
          name: ruby3-1
          ruby_version: 3.1.3
      - bundle_lint_test:
          name: ruby3-0
          ruby_version: 3.0.3
      - bundle_lint_test:
          name: ruby2-7
          ruby_version: 2.7.7
